<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Some client application</title>
</head>
<body>
<div>
    api 127.0.0.2:8080
</div>
<button onclick="request('http://127.0.0.2:8080/api-no-cors')">GET another origin, error expected</button>
<button onclick="request('http://127.0.0.2:8080/api-with-cors')">GET another origin, successful response expected</button>
<button onclick="request1('http://127.0.0.2:8080/api-with-cors-with-credentials-error')">GET with-cors-with-credentials-error</button>
<button onclick="request1('http://127.0.0.2:8080/api-with-cors-with-credentials-success')">GET with-cors-with-credentials-success</button>
<button onclick="request1('http://127.0.0.2:8080/api-with-cors-with-credentials-wildcard-error')">GET with-cors-with-credentials-wildcard-error</button>
<button onclick="callJsonp('http://127.0.0.2:8080/jsonp', 'gotWeather')">JSONP another origin</button>

<div>
    api 127.0.0.1:8181
</div>
<button onclick="request('http://127.0.0.1:8181/api')">GET same origin</button>
<script>
    function request(url, method = 'GET') {
        fetch(url, {
            method
        }).
        then(res => res.json()).
        then(res => {
            alert(JSON.stringify(res));
        }).
        catch(e => {
            alert(e);
        });
    }

    function request1(url, method = 'GET') {
        fetch(url, {
            method,
            credentials: 'include'
        }).
        then(res => res.json()).
        then(res => {
            alert(JSON.stringify(res));
        }).
        catch(e => {
            alert(e);
        });
    }

    function callJsonp(url, callback) {
        let script = document.createElement('script');
        script.src = `${url}?callback=${callback}`;
        document.body.append(script);
    }

    function gotWeather({ temperature, humidity }) {
        alert(`temperature: ${temperature}, humidity: ${humidity}`);
    }
</script>
</body>
</html>